*{
    margin: 0;
    padding: 0;
}
header{
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
}
main{
    margin-top: 260px;
}
p{
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    color: plum;
}
.menu_top{
    width: 100%;
    height: 170px;
    border-bottom: 3px solid cornflowerblue;
    border-top: 10px solid cyan;
    background-color: gainsboro;
}
.top_esp{
    width: 140px;
    float: left;
    padding: 10px;
}
.top_dir{
    float: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: lightgreen;
}
.menu_down{
    background-color: lemonchiffon;
    height: 50px;
    text-align: center ;
}
.menu{
    position: relative;
    top: 15px;
    border-right: solid 2px cornflowerblue;
    padding: 10px;
}
.clear{clear:both}
